<h1><%= @trip.title %></h1>
<p>with <%= @trip.user.name %>
<hr />

<% if current_user %>
  <p><n>Duration: </n><%= @trip.duration %> days</p>
  <p><n>Start Date: </n><%= @trip.begin_date.strftime("%F") %></n></p>
  <p><n>Destinations: </n><%= @trip.destinations %></n></p>
  
  <% if (@trip.map && @trip.map.length)>0 %>
    <p><iframe width="500" height="300" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDBvzq5WsidARhAZ0821MB1iAMTPnHiamI&q=<%= @trip.map%>" allowfullscreen></iframe></p>
  <% end %>
  <p><n>Activities: </n><%= @trip.activities %></n></p>
  <p><n>Highlights: </n><%= @trip.highlights %></n></p>
  <ul><n>Participants: </n>
    <% @trip.invites.where(accepted: true).each do |i| %>
      <li><%= i.recipient.name %></li>
    <% end %>
  </ul>
  <ul><n>Invited: </n>
    <% @trip.invites.each do |i| %>
      <li><%= i.recipient.name %><%=" ✅" if i.accepted %>  </li>
    <% end %>
  </ul>
  <p>Created <%= time_ago_in_words(@trip.created_at) %> ago</p>

  <%= render 'partials/carousel' %>
  <br/>
  <% else %>
    <h2>Log in to see more</h2>
    <%= link_to "Log in", new_session_path, class: 'btn btn-secondary' %>
<% end %>

<br/>

<%= link_to('Other Trips', trips_path, class: 'btn btn-info')  %>

<% if @trip.user == current_user %>

  <%= link_to("Edit", edit_trip_path(@trip), class: 'btn btn-info') %>
  <%= link_to("Delete", trip_path(@trip), class: 'btn btn-dark', method: 'delete') %>
  <%= link_to("Add Image", new_trip_image_path(@trip), class: 'btn btn-info') %>
  <%= link_to("Invite", new_trip_invite_path(@trip), class: 'btn btn-info') %>
  
<% end %>

<hr />


<%= render 'partials/comment_fields' %>
<h3>Comments (<%= @trip.comments.count %>): </h3>

<% @trip.comments.each do |c| %>
  <div>
    <h6><%= c.body %></h6>
    <p><%= c.user.name %></p>
    <p> <%= time_ago_in_words(@trip.created_at) %> ago</p>
    <% if c.user == current_user %>
        <%= link_to("Delete", trip_comment_path(@trip, c), method: "delete") %>
    <% end %>
  </div>
<% end %>

