<h1><%= @trip.title %></h1>
<p>with <%= @trip.user.name %>
<hr />

<p><n>Duration: </n><%= @trip.duration %> days</p>
<p><n>Destinations: </n><%= @trip.destinations %></n></p>
<p><n>Activities: </n><%= @trip.activities %></n></p>
<p><n>Highlights: </n><%= @trip.highlights %></n></p>
<ul><n>Participants: </n>
  <% @trip.invites.where(accepted: true).each do |i| %>
    <li><%= i.recipient.name %></li>
  <% end %>
</ul>
<ul><n>Invited: </n>
  <% @trip.invites.each do |i| %>
    <li><%= i.recipient.name %><%=" ✅" if i.accepted %>  </li>
  <% end %>
</ul>

<%= render 'partials/carousel' %>

<p>Created <%= time_ago_in_words(@trip.created_at) %> ago</p>

<%= link_to('Other Trips', trips_path, class: 'btn btn-info')  %>

<% if @trip.user == current_user %>


  <%= link_to("Edit", edit_trip_path(@trip), class: 'btn btn-info') %>
  <%= link_to("Delete", trip_path(@trip), class: 'btn btn-dark', method: 'delete') %>
  <%= link_to("Add Image", new_trip_image_path(@trip), class: 'btn btn-info') %>
  <%= link_to("Invite", new_trip_invite_path(@trip), class: 'btn btn-info') %>
  
<% end %>

<hr />


<%= render 'partials/comment_fields' %>
<h3>Comments (<%= @trip.comments.count %>): </h3>

<% @trip.comments.each do |c| %>
  <div>
    <h4><%= c.body %></h4>
    <p><%= c.user.name %></p>
    <p> <%= time_ago_in_words(@trip.created_at) %> ago</p>
    <% if c.user == current_user %>
        <%= link_to("Delete", trip_comment_path(@trip, c), method: "delete") %>
    <% end %>
  </div>
<% end %>

