<h1><%= @user.name %></h1>
<p><%= @user.nationality %></p>

<hr>

<h2>Trips:</h2>

<% @user.trips.each do |t| %>
  <div>
    <h3><%= t.title %></h3>
  </div>
<% end %>

<%= form_for @trip, url: user_tripss_path(@user) do |f| %>
<% end %>

<%= link_to('Users', users_path) %>
