<%# User show page %>
<h1><%= @user.name %></h1>
<p><%= @user.nationality %></p>
<p>Age: <%= @user.age %></p>


<% if @user == current_user %>  
  <%= link_to('Edit', edit_user_path) %>
<% end %>
<hr />

<h2>Trips:</h2>

<%# Create a New Trip %>
<% if @user == current_user %>  
  <%= link_to("New Trip", new_trip_path((@current_user))) %>
<% end %>



<%# Show existing trips: %>
<% @user.trips.each do |t| %>
  <div>
    <h3><%= link_to(t.title, trip_path(t)) %></h3>
    
    <% if @user == current_user %>  
      <%= link_to("Edit", edit_trip_path(t)) %>
      <%= link_to("Delete", trip_path(@user, t), method: "delete") %>
    <% end %>

  </div>
<% end %>

<hr />
<%= link_to('Go Back', users_path) %>
