<% if flash[:success] %>  
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<h1><%= @user.name %></h1>
<p><%= @user.nationality %></p>
<p>Age: <%= @user.age %></p>

<% if @user == current_user %>  
  <%= link_to('Edit', edit_user_path, class: "btn btn-info") %>
<% end %>
<hr />

<h2>Trips:</h2>

<%# Create a New Trip %>
<% if @user == current_user %>  
  <%= link_to("New Trip", new_trip_path(@current_user), class: "btn btn-info") %>
<% end %>

<%# Show existing trips: %>
<% @user.trips.each do |t| %>
  <div class= "jumbotron jumbotron-fluid">
    <div class= "container">
      <h1 class="display-4"><%= link_to(t.title, trip_path(t))%></h1>
      <p class="lead"><%= t.highlights %>
    </div>
    
    <% if @user == current_user %>  
      <%= link_to("Edit", edit_trip_path(t), class: "btn btn-info") %>
      <%= link_to("Delete", trip_path(@user, t), method: "delete", class: "btn btn-dark") %>
    <% end %>

  </div>
<% end %>

<hr />
<%= link_to('Go Back', users_path, class: "btn btn-secondary") %>
